.sign-up{
display: flex;
flex-direction: column;
// width: 40%;

h2{
    color: rgba(255, 255, 255, 0.852);
    font-size: 1.8rem;
}
span{
    font-size: 0.9rem;
    line-height: 1.8rem;
    color: rgba(255, 255, 255, 0.68);
}
}